# {{ ansible_managed }}

<VirtualHost *:443>
	ServerAdmin {{ apache2_server_admin }}
	ServerName {{ inventory_hostname }}
	ServerAlias {{ ansible_ssh_host }}
	ServerAlias localhost
    ServerAlias 127.0.0.1

	DocumentRoot {{ apache2_adminhost_docroot }}
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory {{ apache2_adminhost_docroot }}>
		Options FollowSymLinks
		AllowOverride None
        Require all granted
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/ssl_error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/ssl_access.log combined

	SSLEngine on

	SSLCertificateFile        {{ apache2_adminhost_ssl_cert_file }}
	SSLCertificateKeyFile     {{ apache2_adminhost_ssl_cert_key }}

	# HSTS (mod_headers is required) (15768000 seconds = 6 months)
	Header always set Strict-Transport-Security "max-age=15768000"

    {% if apache2_adminhost_https_extra is defined %}
    {{ apache2_adminhost_https_extra }}
    {% endif %}

</VirtualHost>
